/******************************************************************************
 * página principal 
 ******************************************************************************/
body {background-color:#78b05c;
      text-align:center;
      }

/******************************************************************************
 * estructura de la página
 ******************************************************************************/ 
#container{
    margin: 0 auto;
    width: 1400px;
}

#header{
    padding: 10px;
}

#menu{
    display:inline;
    padding: 0px;
    float: left;
    width:9%;
    margin: 10px;
    background-color:#afe396;
    border: 1px;
    border-style: ridge;
    border-color: black;
}

#content{
    float:right;
    margin:10px;
    width:88%;
    position: relative;
}

#footer{
    padding: 10px;
    clear:both;
    margin: 0px 0px 10px 0px;
}

/******************************************************************************
 * header
 ******************************************************************************/
h1.headerT{
    background-color:#58cda8;
    border-style: ridge;
    border-color: black;
}

h2.headerT{
    background-color:#afe396;
    border: 1px;
    border-style: ridge;
    border-color: black;
}

/******************************************************************************
 * menu
 ******************************************************************************/
table.tablaMenu{margin: 0 auto;
	text-align: center;
	width:100%; 
	border-width: 1px;
	border-spacing: 2px;
	border-color: black;
	border-collapse: separate;
	border-style: none;
}

table.tablaMenu td.probeNameDown{
	background-color:#000000;
	border-width: 1px;
	border-color: black;
	border-style: ridge;
	height: 5px;
	width: 30px;	
}

table.tablaMenu td.probeNameOk{
    background-color:#00ff00;
    border-width: 1px;
    border-color: black;
    border-style: ridge;
    height: 5px;
    width: 30px;
}

table.tablaMenu td.probeNameAlert{
    background-color:#ff0000;
    border-width: 1px;
    border-color: black;
    border-style: ridge;
    height: 5px;
    width: 30px;
}

/******************************************************************************
 * content
 ******************************************************************************/
h3.probeNameOk {color:#000000;
    background-color:#00ff00; /* #afe396; */
    border: 1px;
    border-style: ridge;
    border-color: black;
    margin: 30px 0px 0px 0px;
    }

h3.probeNameAlert{color:#000000;
    background-color:#ff0000;
    border: 1px;
    border-style: ridge;
    border-color: black;
    margin: 30px 0px 0px 0px;
    }

h3.probeNameDown{color:#000000;
    background-color:#000000;
    color:#ffffff;
    border: 1px;
    border-style: ridge;
    border-color: black;
    margin: 30px 0px 0px 0px;
    }

object.probesLog {background-color:#afe396;
        text-align:left;
        width:650px;
        margin:5px 10px 5px 10px;
        border: 1px;
        border-style: ridge;
        border-color: black;
        }

table.tablaGraphs {margin: 0 auto;
        text-align: center;
        width:50%;
        border:1px;
        border-color:black;
        }

table.tablaGraphs th{background-color:#58cda8;
   height:40px;
   }
   
table.tablaGraphs td{background-color:#3f7b68;
   width:450px;
   }

img {margin:5px 10px 5px 10px;
     border: 1px;
     border-style: ridge;
     border-color: black;
     }

/******************************************************************************
 * footer
 ******************************************************************************/
table.tablaFooter {margin: 0 auto;
        text-align: center;
        width:100%; 
        border-width: 1px;
        border-spacing: 2px;
        border-color: black;
        border-collapse: separate;
        border-style: none;
        }

table.tablaFooter th{background-color:#58cda8;
    height:40px;
    border:1px;
    border-style: ridge;
    border-color: black;
}

table.tablaFooter td{background-color:#3f7b68;
    border:1px;
	border-style: ridge;
	border-color: black;
}

object.generalLog {background-color:#afe396;
        text-align:left;
        width:98%;
        margin:5px 0px 5px 0px;
        border: 1px;
        border-style: ridge;
        border-color: black;
        }
