<!DOCTYPE html>
<html>
    <head>
        <title>PFC :: Probes Summary</title>
        <link rel="stylesheet" href="{{ cssName }}" type="text/css" media="screen" />
        <meta http-equiv="refresh" content="60">
    </head>
    <body>
        <div id="container">
            
            <div id="header">
                <h1 class="headerT">Probes Summary</h1>
                <h2 class="headerT">Total subscribed probes: {{ subscribeCounter}}</h2>
            </div>

            <div id="menu">
                {% if subscribeCounter == 0 %}
                    <b>Menu: </b><br>
                    <b>No probes</b><br>
                {% else %}
                    <b>Menu: </b><br>
                    {% for probe in probeElements %}
                        <table class="tablaMenu">
                            <tr>
                                <td><a href="#{{ probe.Name }}">{{ probe.Name }}</a></td>
                                {% if probe.Status == "Down" %}
                                    <td class="probeNameDown"></td>
                                {% else %}
                                    {% if probe.Status == "Alert" %}
                                        <td class="probeNameAlert"></td>
                                    {% else %}
                                        <td class="probeNameOk"></td>
                                    {% endif %}
                                {% endif %}
                            </tr>
                        </table> 
                    {% endfor %}
                    <a href="#generalLog">General Log</a>
                 {% endif %}
            </div>
            
            <div id="content">
                {% for probe in probeElements %}
                    {% if probe.Status == "Down" %}
                        <h3 id="{{ probe.Name }}" class="probeNameDown">{{ probe.Name }} (Status: {{ probe.Status }})</h3>
                    {% else %}
                        {% if probe.Status == "Alert" %}
                            <h3 id="{{ probe.Name }}" class="probeNameAlert">{{ probe.Name }} (Status: {{ probe.Status }})</h3>
                        {% else %}
                            <h3 id="{{ probe.Name }}" class="probeNameOk">{{ probe.Name }} (Status: {{ probe.Status }})</h3>
                        {% endif %}
                    {% endif %}
                    <table class="tablaGraphs" border="1">
                        <tr>
                            <th>Alerts:</th>
                            <th>Alert log:</th>
                        </tr>
                        <tr>
                            <td><img src="{{ probe.AlertGraph }}" /></td>
                            <td><object class="probesLog" type="text/plain" data="{{ probe.AlertLog }}"></object></td>
                        </tr>
                        <br>
                        <tr>
                            <th>Timeval information:</th>
                            <th>Timeval information log:</th>
                        </tr>
                        <tr>
                            <td><img src="{{ probe.InfoGraph }}" /></td>
                            <td><object class="probesLog" type="text/plain" data="{{ probe.InfoLog }}"></object></td>
                        </tr>
                    </table> 
                {% endfor %}
            </div>
            
            <div id="footer">
                <table id="generalLog" class="tablaFooter" >
                    <tr>
                        <th>GENERAL LOG</th>
                    </tr>
                    <tr>
                        <td>
                            {% ifequal generalLog "" %} <!-- Si no hay información en el generalLog -->
                                <object class="generalLog" type="text/plain"></object>
                            {% else %} <!-- Si hay información en el generalLog -->
                                <object class="generalLog" type="text/plain" data="{{ generalLog }}"></object>
                            {% endifequal %}
                        </td>
                    </tr>
                </table>
            </div>
        
        </div>
    </body>
</html>
